*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./istockphoto-499401387-612x612.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100vw;
    min-width: none;
    height: 100vh;
    min-height: 350px;
    margin-bottom: 20px;
    overflow: hidden;
}

.main{
    margin-top: 10%;
    width: 85vw;
    max-width: 300px;
    height: auto;
    min-height: 450px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.2);
}

.text{
    width: 80%;
    height: 65px;
    border: none;
    margin: 15px;
    padding: 10px;
    font-size: large;
    text-align: right;
}

#text{
    display: flex;
    justify-content: right;
    
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}


input{
    width: 50px;
    height: 50px;
    background-color: rgb(45, 44, 44);
    box-shadow: -8px -8px 15px rgba(102, 102, 102, 0.1), 5px 5px 15px rgba(0,0,0, 0.1);
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: aqua;
}